<div id="corps" style="min-height:667px;">
    <div id="contenupageaccueil">
        <!-- Contenu de la page -->
<div id="contenu">
                                <div class="crea" id="form_connection" style="width:30.7%; top:40px; margin:0px auto 0px auto; text-align:center;">
<div id="welcometitle" style="text-align: center;margin-bottom: 13px;">
    Bienvenue
</div>
<p style=" text-align:center;height:20px;margin-bottom:20px;">
                                                </p>
<form method="post" action="authentification.php" autocomplete="off">
    <div class="formLoginSubmit">
        <div class="inb"><label class="label" for="login">Identifiant</label>
            <input name="champIdentifiant" type="text" id="login" maxlength="16" value="" required=""></div>
        <div class="inb"><label class="label" for="password">Mot de Passe</label>
            <input name="champMotPasse" type="password" id="password" maxlength="16" value="" required=""></div>
        <div class="inb">
            <input type="submit" name="boutonok" value="Connexion" id="boutonok" style="width:100%; border: none; text-transform: uppercase; display:block;background:#0476BB;height:28px;font-size:11px; text-align:center;color:black;text-decoration:none;line-height:28px;padding:0; margin-bottom:15px; color:#FFF; font-weight: bold; letter-spacing:1px;">
        </div>
    </div>
</form>
</div>
                        </div>
</div>
</div>