header #header .row {
    position: relative;
  }
  .column.row.row, .row.row.columns {
    float: none;
  }
  .text-center {
    text-align: center;
  }
  @media print, screen and (min-width: 42.5em)
  {
    
  .column, .columns {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  .column, .columns {
    width: 100%;
    float: left;
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .row {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
  }
  blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
  }
  *, ::after, ::before {
    box-sizing: inherit;
  }
  user agent stylesheet
  div {
    display: block;
  }
  body {
    margin: 0;
    background: #fff;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body, h1, h2, h3, h4, h5, h6 {
    font-family: dinperso,sans-serif;
  }
  abbr, body {
    color: #00011d;
  }
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  user agent stylesheet
  html {
    color: -internal-root-color;
  }
  .row::after, .row::before {
    display: table;
    content: ' ';
  }
  *, ::after, ::before {
    box-sizing: inherit;
  }
  .row::after {
    clear: both;
  }
  .row::after, .row::before {
    display: table;
    content: ' ';
  }
  *, ::after, ::before {
    box-sizing: inherit;
  }
  
  }