
<div style="width: 700px; margin-left: 150px">
  <form class="form-container">
              
    <div class="form-group">
    <label for="exampleFormControlSelect1">Note</label>
    <input type ="tex" class="form-control" id="" placeholder="Note de 0 à 10">
    </div>

    <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre avis nous interesse, merci de bien vouloir laisser un message"></textarea>
      </div>

    <button type="submit" class="btn btn-primary btn-block" ng-click="addNote()">Soumettre ma note </button>
      </form>
</div>
